/*color constants*/
:root {
  --trim1: #d6f06b;
  --trim11: #271D24;
  --trim2: #211E29;
  --absoluteHeight: 360px;
}

body {
    background-color: var(--trim11);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.main
{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: sabre;
}
.techBox1 {
    margin: auto;
    width: 90%;
    height: 50%;
    background-color: var(--trim11);
    border: 5px solid var(--trim1);
}
.techBox2 {
    background-color: var(--trim11);
    border: 3px solid var(--trim2);
    text-align: left;
}
.techBox3 {
    border: 10px solid var(--trim1);
    font-size: 50px;
    background-color: var(--trim2);
    font-family: calamity;
    text-align: left;
    line-height: 140px;
    min-height: 140px;
    max-height: 140px;
    max-width: 140px;
}
.techBox4 {
    border: 10px solid var(--trim1);
    font-size: 50px;
    background-color: green;
    font-family: calamity;
    text-align: left;
    line-height: 140px;
    min-height: 140px;
    max-height: 140px;
    max-width: 120px;
}
.buffer {

    border-color: white;
    border-width: 7px;
    border-style: dashed;

    background-color: var(--trim2);
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: calamity;
    max-height: 140px;
    max-width: 140px;
    min-height: 140px;
    min-width: 140px;
    display: block;
}

.input {
    margin: auto;
    border: 5px solid var(--trim1);
    background-color: var(--trim2);
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: calamity;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    display: block;
}

.sequence {
    margin: auto;
    border: 5px solid var(--trim1);
    background-color: var(--trim2);
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: calamity;
    max-height: 120px;
    max-width: 120px;
    min-height: 120px;
    min-width: 120px;
    display: block;
}

.spanElements {
    display: flex;
}

.bufferSpan {
    display: flex;
}


@font-face {
    font-family: sabre;
    src: url(../fonts/sabreshark.ttf);
}
@font-face {
    font-family: mexon;
    src: url(../fonts/Mexon.ttf);
}
@font-face {
    font-family: mech;
    src: url(../fonts/Mechsuit.otf);
}
@font-face {
    font-family: glitch;
    src: url(../fonts/Glitch_inside.otf);
}
@font-face {
    font-family: calamity;
    src: url(../fonts/Calamity.otf);
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}